{{>head}}

    {{> navbar}}
    <div class="row">

        <div class = "col-8">
            <h1>Snarky-Puppy</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit, perferendis. Repudiandae veniam vel, enim itaque consectetur eum sit accusantium, sunt quisquam soluta ipsam saepe blanditiis aspernatur eligendi nemo, vitae repellendus!</p>
        </div>

        <div class = "col-4">
            <img src="assets/img/Snarky-Puppy.png" class="img-thumbnail">
        </div>1

    </div>
{{> footer}}