<!-- stolen from noice, ik ur snooping boy :eyes: -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta content="text/html; charset=utf-8" http-equiv="content-type">
	<meta content="width=device-width, initial-scale=1.0 user-scalable=no" name="viewport">
	<title>seal</title>
	<link href="https://noice.tk/asset/css/style.css" rel="stylesheet">
</head>
<body style="overflow: hidden">
	<link href="https://noice.tk/bigman.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<script>
	</script>
	<center>
		<div class="margin">
			<h1>&lt; seal &gt;</h1>
			<p style="max-width:100%;">hi im seal i make useless discord bots in js</p><br>
			<i class="fa" style="font-size:40px"><a href="https://github.com/iridinee">&#xf09b;</a></i> <i class="fa" style="font-size:40px"><a href="https://discord.gg/2cstQmw">&#xf0c1;</a></i> <i class="fa" style="font-size:40px"><a href="https://twitter.com/iridinee">&#xf081;</a></i> <i class="fa" style="font-size:40px"><a href="https://instagram.com/iridinee">&#xf16d;</a></i>
</div>
	</center>
	
	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>

	</ul>

	</html>
